.game-area {
  position: relative;
  /* margin: 50px auto; */
  width: 500px;
  height: 500px;
  /* padding: 2rem; */
  /* border: 2px solid #000; */
  background-color: lightblue;
}
.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: greenyellow;
  border: 1px solid #fff;
  z-index: 2;
  border-radius: 20px;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid #fff;
  z-index: 1;
  transform: rotate(45deg);
}
.poison {
  position: absolute;
  width: 2%;
  height: 2%;
  background: purple;
  border: 1px solid #fff;
  z-index: 1;
  transform: rotate(45deg);
}
/* .score{
  position: fixed;
  top: 40px;
  right: 90px;
  background-color: red;
  color:white;
  font-size: large;
} */
