* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: all 1s ease;

  // * SCROLLBAR STYLES
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9d98f8;
    border-radius: 1rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6c63ff;
  }

  // * ANTIALIASING
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // -webkit-overflow-scrolling: touch;
  // overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none; /* disable text select */
  -webkit-touch-callout: none; /* disable callout, image save panel (popup) */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

a:focus {
  outline: 0; // Firefox (remove border on link click)
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

.notification {
  box-shadow: none !important;
  border-radius: 0.4rem;
}

.animate__animated.animate__bounceIn {
  --animate-duration: 1.55s;
}

// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");

// * BOOTSTRAP SASS OPTIONS

$font-family-sans-serif: "Inter",
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family-monospace: "Fira Code", monospace;
$enable-shadows: true;
$enable-gradients: true;
$enable-caret: false;

// $primary: #6c63ff;
// $dark: #222831;

// ::selection {
//   background-color: #6c63ff;
//   color: #fff;
// }

// $theme-colors: ();

@import "bootstrap";
@import "animate.css";
